/*
filename: style.css
author: David O'Connell
created: 
last modified: 7th April 2025
description: CSS styling for index.html, apply.html, about.html, & jobs.html
*/

/* *Universal element Stying */

/* Element Styling */
body {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: black;
}

aside {
    width: 25%;
    float: right;
    color: gold;
}

nav {
    background-color: ghostwhite;
    background: linear-gradient(to top, gold, ghostwhite);
    box-shadow: 0px 2px 4px gray;
    border-radius: 2px;
}

/* #id Styling */

/* .class Styling */
.menu h1 {
    font-family: 'Lucida Sans' monospace;
}
.menu {
    background-color: ghostwhite;
}

/* Grouping Styling */

/* Contextual Styling */

/* Psuedo Classes */